# Ignore compiled files
*.log
*.tmp
*.bak
*.aux
*.out
*.toc

.DS_Store
._*
CMakeCache.txt
.zshrc_local
config/lxplus.json

# ignore dump folder
dump/
data/
build/
CRU_RDH_Decoder/
.vscode/
CMakeFiles/
.snakemake/