# Ignore compiled files
*.log
*.tmp
*.bak
*.aux
*.out
*.toc

.DS_Store
._*
CMakeCache.txt
.zshrc_local
config/lxplus.json
config/tb-2025-oct-automation-53c24706c7ea.json

# ignore dump folder
dump/
data/
build/
qa_plots/
CRU_RDH_Decoder/
.vscode/
CMakeFiles/
.snakemake/
.env/
__pycache__/